/* Google fonts */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap";

/**/
@import "tailwindcss";


@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1670px;
  --color-accent: #179957;
  --color-accent-dark: #184D47;
  --font-inter: Inter, sans-serif;

}

/* Base */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50
}

/* Components */
/* transition-[transform, background-color] */
.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1
  ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 active:scale-95
}