/* Google fonts */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap";

/**/
@import "tailwindcss";


@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1670px;
  --color-accent: #179957;
  --color-accent-dark: #184D47;
  --font-inter: Inter, sans-serif;

}

/* Base */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50
}

/* Components */
/* Menu Btn */
/* transition-[transform, background-color] */
.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1
  ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 active:scale-95
}

/* Navbar */

.navbar {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl
  ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 
  invisible transition-[opacity,transform,filter]
}
/*blur-0*/
.navbar.active {
  @apply opacity-100 scale-100 visible blur-none
}